<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- It makes it so that the contents of the public folder are exposed -->
    <!-- on the same directory as the page displayed. -->
    <style>
      body{
          background-color: #2E3047;
      }
      h1{
        color: white;
      }
    </style>
  </head>
  <body>
{{{body}}}
  </body>
</html>
