<div class="centerBox">
  <div class="childContainer borderDefault">
    <div class="loginTitle">
      <img src="/images/RESERVER (1).png">
    </div>
    <hr class="borderDefault">

    <div id="errorContainer">
      {{errMsg}}
    </div>

    <form action="/change-password-verify-current" method="post" id="changePasswordForm">
      <input type="hidden" name="email" value="{{user.email}}">
      
      <div class="form-section">
        <h3>Change Password</h3>
        <p>Please verify your current password first</p>
        
        <input class="inputBox" type="password" placeholder="Current Password" name="currentPassword" required>
      </div>

      <input class="button" type="submit" value="Verify Current Password">
    </form>

    <hr class="borderDefault">
    <h4><a href="/edit-profile">Back to Edit Profile</a></h4>
  </div>
</div>

<script>
// Obscure password entry
document.querySelector('input[name="currentPassword"]').addEventListener('input', function(e) {
  this.type = 'password';
});
</script>