<div class="error-container">
    <div class="error-content">
        <h1 class="error-title">Error Code: {{errNum}}</h1>
        <h1 class="error-message">{{errMess}}</h1>
        <a class="back" href="/">Return to Main Page</a>
    </div>
</div>
