<div class="centerBox">
  <div class="childContainer borderDefault">
    <div class="loginTitle">
      <img src="/images/RESERVER (1).png">
    </div>
    <hr class="borderDefault">

    <div id="errorContainer">
      {{errMsg}}
    </div>

    <form action="/forgot-password-reset" method="post" id="resetPasswordForm">
      <input type="hidden" name="email" value="{{email}}">
      <input type="hidden" name="token" value="{{token}}">
      
      <div class="form-section">
        <h3>Reset Your Password</h3>
        
        <div class="password-container">
          <input class="inputBox" type="password" placeholder="New Password" id="newPassword" name="newPassword" required>
          <div id="passwordStrength" class="password-strength"></div>
          
          <input class="inputBox" type="password" placeholder="Confirm New Password" id="confirmPassword" name="confirmPassword" required>
          <div id="passwordMatch" class="password-match"></div>
        </div>

        <div class="password-requirements">
          <h4>Password Requirements:</h4>
          <ul>
            <li id="reqLength">At least 8 characters long</li>
            <li id="reqUppercase">Contains uppercase letter</li>
            <li id="reqLowercase">Contains lowercase letter</li>
            <li id="reqNumber">Contains number</li>
            <li id="reqSpecial">Contains special character (@$!%*?&)</li>
          </ul>
        </div>
      </div>

      <input class="button" type="submit" value="Reset Password" id="resetBtn">
    </form>

    <hr class="borderDefault">
    <h4><a href="/">Back to Login</a></h4>
  </div>
</div>

<script src="/common/forgot-password.js"></script>