<div class="centerBox">
  <div class="childContainer borderDefault">
    <div class="loginTitle">
      <img src="/images/RESERVER (1).png">
    </div>
    <hr class="borderDefault">

    <div id="errorContainer">
      {{errMsg}}
    </div>

    <form action="/forgot-password" method="post">
      <input class="inputBox" type="email" placeholder="Enter your DLSU email" name="email" required>
      <input class="button" type="submit" value="Send Reset Link">
    </form>

    <hr class="borderDefault">
    <h4><a href="/">Back to Login</a></h4>
  </div>
</div>
