<main class="mod-container">
    <div class="modification-wrap">
        <div class="head-container">
            <div class="back" onclick="redirectRoom()"><img src="/images/back.png"></div>
            <div id="modify-Maintitle"><h1>Modify Room Availability</h1></div>
        </div>
    </div>
</main>